.divPreloader{
    position:absolute;
    opacity: 0.4;
}

.form-group{
    position: relative;
    top: -150px;
}

@media (max-width: 1000px){
    .form-group{
        top: -50px;
    }
}

/* //tienda de ropa  */
.imgThumb{
	display: block;
	cursor: pointer;
    width: 30px;
	height: 30px;
}


.imgRating{
	width: 30px;
	height: 30px;
}